<?xml version="1.0"?>
<!--
/**
 * Mageprince
 *
 * @category    Mageprince
 * @package     Mageprince_MageAIPredict
 * @copyright   Copyright (c) Mageprince (https://mageprince.com/)
 * @license     https://mageprince.com/end-user-license-agreement
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mageai_predict_forecast_listing_data_source" xsi:type="string">Mageprince\MageAIPredict\Model\ResourceModel\Forecast\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Mageprince\MageAIPredict\Model\ResourceModel\Forecast\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">mageai_predict_forecast</argument>
            <argument name="resourceModel" xsi:type="string">Mageprince\MageAIPredict\Model\ResourceModel\Forecast</argument>
        </arguments>
    </virtualType>
</config>
