<?xml version="1.0"?>
<!--
/**
 * Mageprince
 *
 * @category    Mageprince
 * @package     Mageprince_MageAIPredict
 * @copyright   Copyright (c) Mageprince (https://mageprince.com/)
 * @license     https://mageprince.com/end-user-license-agreement
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mageai_predict" frontName="mageai_predict">
            <module name="Mageprince_MageAIPredict"/>
        </route>
    </router>
</config>
